<div class="dialog-content">
  <h2>Radni dan zaposlenog</h2>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="form-field">
      <p-checkbox 
        formControlName="works" 
        inputId="works"
        [binary]="true"
        label="Radi tog dana">
      </p-checkbox>
    </div>

    <div *ngIf="form.value.works" class="form-field">
      <label>Tip smene</label>
      <p-select 
        formControlName="shiftType"
        [options]="shiftTypes"
        optionLabel="label"
        optionValue="value"
        placeholder="Izaberi tip smene"
        styleClass="form-select">
        <ng-template let-shift pTemplate="item">
          <span>{{ shift.label }} <span *ngIf="shift.time">({{ shift.time }})</span></span>
        </ng-template>
      </p-select>
    </div>

    <div class="form-field">
      <label>Napomena</label>
      <input 
        pInputText 
        formControlName="note" 
        maxlength="200"
        placeholder="Unesi napomenu"
        class="form-input" />
    </div>

    <div class="dialog-actions">
      <p-button 
        label="Otkaži" 
        severity="secondary"
        [outlined]="true"
        [rounded]="true"
        (onClick)="cancel()">
      </p-button>
      <p-button 
        label="Sačuvaj" 
        [rounded]="true"
        type="submit"
        [disabled]="form.invalid">
      </p-button>
    </div>
  </form>
</div>
