:host {
    display: block;
}

.component-title>.mat-icon {
    margin-right: 10px;
    height: 50px;
    width: 50px;
    font-size: 50px;
}

.table-wrapper>mat-paginator {
    background-color: #232323;
}

.mat-table-container {
    flex-grow: 1;
    min-height: 300px;
}

mat-card {
    border: none;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .5);
    width: 100%;


    border-radius: 12px;
    overflow: hidden;

    background-color: #2b2b2b;

    mat-card-title {
        margin-bottom: 10px;
        font-size: 1.25rem;
        font-weight: 600;
        display: flex;
        align-items: center;

        mat-icon {
            margin-right: 10px;
        }
    }

    mat-divider {
        margin-bottom: 10px;
    }

    mat-card-content {
        padding: 10px;
    }

    mat-card-subtitle {
        margin-bottom: 10px;
        font-size: 0.9rem;
        opacity: 0.8;
    }

    mat-card-header {
        background: linear-gradient(60deg,
                #f72585,
                #7209b7,
                #3a0ca3,
                #4361ee,
                #f72585);
        background-size: 300% 300%;
        animation: gradientPan 70s ease infinite;
        padding: 1rem;
        margin: 1rem;
        border-radius: 25px;
    }



    .table-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 450px;
        background: transparent;
        box-shadow: 0 4px 24px rgba(0, 0, 0, .5);
    }



    table {
        background-color: #232323;
    }
}

mat-paginator {
    align-self: flex-end;
    background: transparent !important;
}

.mat-column-actions {
    text-align: right;
}



