:host {
    display: block;
}

.main-container {
    color: white;
    padding: 25px 100px;
}


.component-title > .mat-icon {
    margin-right: 10px;
    height: 50px;
    width: 50px;
    font-size: 50px;
}

.table-wrapper > mat-paginator {
    background-color: #232323;
}

.mat-table-container {
    flex-grow: 1; /* Ensures table takes up available space */
    min-height: 300px; /* Adjust based on your layout */
}


mat-card {
    width: 100%;
    box-shadow: black 5px 5px 5px;
    background-color: #303030;

    mat-card-title {
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        mat-icon {
            margin-right: 10px;
        }
    }

    mat-divider {
        margin-bottom: 10px;
    }

    mat-card-content {
        padding: 10px;
    }

    mat-card-subtitle {
        margin-bottom: 10px;
    }

    mat-card-header {
        background-color: #003ea8;
        margin: 20px;
        border-radius: 25px;
    }

    .table-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Push table to top, paginator to bottom */
        min-height: 450px; /* Ensure table wrapper has enough height */
        border: 5px solid #ff0066; /* Matches your design */
        padding: 6px;
        border-radius: 25px;
        background-color: #232323;
    }

    table {
        background-color: #232323;
    }
}

mat-paginator {
    align-self: flex-end;
}

.mat-column-actions {
    text-align: right; /* Align text and buttons to the right */
}


.custom-row {
    height: 80px;
    td {
        border-bottom: 1px solid #ffffff;
    }
}


