<div class="dialog-container" fxLayout="column">
  <h2>Edit Employee</h2>
  <div class="dialog-content" #dialogContent>
    <div style="padding: 20px;">
      <!-- User Image -->
      <div style="display: flex; align-items: center;">
        <img
          [src]="avatarPreview || 'user-profile-image.png'"
          alt="employee-image"
          width="125"
          height="125"
          style="margin: 25px 25px 25px 0; cursor: pointer; border-radius: 50%; object-fit: cover; display: block;"
          (click)="onAvatarClick()"
        >
        <input
          id="avatarInput"
          type="file"
          accept="image/*"
          style="display: none"
          (change)="onAvatarSelected($event)"
        >
      </div>

      <!-- Name Inputs -->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- First Name Input -->
        <mat-form-field appearance="outline" style="width: 100%; margin-right: 10px;" class="mat-form-field-css">
          <mat-label>Name</mat-label>
          <input matInput [formControl]="employeeForm.controls['firstName']" required>
          <mat-error *ngIf="employeeForm.controls['firstName'].hasError('required')">
            First Name is required
          </mat-error>
        </mat-form-field>
        <!-- Last Name Input -->
        <mat-form-field appearance="outline" style="width: 100%;" class="mat-form-field-css">
          <mat-label>Name</mat-label>
          <input matInput [formControl]="employeeForm.controls['lastName']" required>
          <mat-error *ngIf="employeeForm.controls['lastName'].hasError('required')">
            Last Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Email and Phone Inputs -->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- Email Input -->
        <mat-form-field appearance="outline" style="width: 100%; margin-right: 10px;" class="mat-form-field-css">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="employeeForm.controls['contactEmail']" required>
          <mat-error *ngIf="employeeForm.controls['contactEmail'].hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="employeeForm.controls['contactEmail'].hasError('email')">
            Enter a valid email
          </mat-error>
        </mat-form-field>
        <!-- Phone Input -->
        <mat-form-field appearance="outline" style="width: 100%;" class="mat-form-field-css">
          <mat-label>Phone</mat-label>
          <input matInput [formControl]="employeeForm.controls['contactPhone']" required>
          <mat-hint>Must be 10 numbers</mat-hint>
          <mat-error *ngIf="employeeForm.controls['contactPhone'].hasError('required')">
            Phone is required
          </mat-error>
          <mat-error *ngIf="employeeForm.controls['contactPhone'].hasError('pattern')">
            Enter a valid phone
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Date of Birth Input -->
      <mat-form-field appearance="outline" style="width: 100%" class="mat-form-field-css">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="employeeForm.controls['dateOfBirth']" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="employeeForm.controls['dateOfBirth'].hasError('required')">
          Date of birth is required
        </mat-error>
      </mat-form-field>

      <!-- Job Role Input -->
      <mat-form-field appearance="outline" style="width: 100%; margin-right: 10px;" class="mat-form-field-css">
        <mat-label>Job Role</mat-label>
        <input matInput [formControl]="employeeForm.controls['jobRole']" required>
        <mat-error *ngIf="employeeForm.controls['jobRole'].hasError('required')">
          Job Role is required
        </mat-error>
      </mat-form-field>

      <!-- Facilities Multi-Selector -->
      <mat-form-field appearance="outline" style="width: 100%;" class="mat-form-field-css">
        <mat-label>Facilities</mat-label>
        <mat-select [formControl]="employeeForm.controls['facilities']" multiple>
          <mat-option *ngFor="let facility of facilities" [value]="facility._id">
            {{ facility.name }}
          </mat-option>
        </mat-select>
        <mat-hint>Select one or more facilities where employee works</mat-hint>
      </mat-form-field>

      <!-- Selected Facilities Chips -->
      <div *ngIf="employeeForm.controls['facilities'].value && employeeForm.controls['facilities'].value.length > 0" style="margin-bottom: 16px;">
        <mat-chip-listbox>
          <mat-chip-option *ngFor="let facilityId of employeeForm.controls['facilities'].value" 
                   [removable]="true" 
                   (removed)="removeFacility(facilityId)">
            {{ getFacilityName(facilityId) }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-option>
        </mat-chip-listbox>
      </div>

      <!-- Active and Appointments -->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- Active Checkbox -->
        <mat-form-field appearance="outline" style="width: 100%; margin-right: 10px;" class="mat-form-field-css">
          <mat-label>Active</mat-label>
          <mat-select [formControl]="employeeForm.controls['isActive']">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Include in Appointments -->
        <mat-form-field appearance="outline" style="width: 100%;" class="mat-form-field-css">
          <mat-label>Include in Appointments</mat-label>
          <mat-select [formControl]="employeeForm.controls['includeInAppoitments']">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
  </div>

  <!-- Dialog Actions -->
  <div mat-dialog-actions class="dialog-actions" fxLayout="row" fxLayoutAlign="space-between center" class="mat-dialog-buttons">
    <button mat-raised-button color="primary" (click)="updateEmployee()" [disabled]="employeeForm.invalid">
      Save
    </button>
    <button mat-raised-button (click)="deleteEmployee()" style="background-color: red; color: white;">Delete Employee</button>
    <button mat-raised-button (click)="closeDialog()">Cancel</button>
  </div>
</div>
