.employee-tiles {
    width: 320px;
    height: 400px;
    border-radius: 25px;
    padding: 25px;
    transition: 0.25s ease-in-out;
    background-color: #323232;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .5);
    cursor: pointer;
    margin-bottom: 20px;

    mat-chip {
        border: greenyellow solid 1px;
    }
}
  

.employee-tiles:hover{
    transform: scale(1.025);
}

.employee-contact-details {
    background-color: #232323;
    width: 100%;
    height: 200px;
    border-radius: 25px;

    mat-icon {
        margin-right: 10px;
    }
}

.employee-name {
    margin-bottom: 10px;
}

.main-container{
    padding: 0px 25px;
}

.search-input {
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    width: 0;
    opacity: 0;
    background-color: #181818;
}

input[matInput] {
    transition: all 0.3s ease-in-out;
    width: 0;
    overflow: hidden;
}