:host {
  display: block;
  overflow: hidden;
}

.appointments-container {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-shadow: none;
}

.toolbar-custom {
  position: relative;
  height: 64px;
  padding: 0 40px;
  margin-top: 20px;
  background: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center; /* inicijalno centrirano */
  align-items: center;
  animation: slideIn 0.5s ease;
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.toolbar-item {
  transform: translateY(-50%);
  margin-top: 19px;
}

.title-container {
  transform: translateX(-50%) translateY(-50%);
  margin-bottom: 20px;
}

.datepicker-container {

  transform: translateX(-50%) translateY(-50%);
}

  
.date-picker {
  width: auto;
}


.schedule-grid {
  margin: 20px;
  border: 2px solid #8c0055;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.5s ease;
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .grid-header {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 8px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.25);
    
    .time-header-cell {
      width: 109px;
    }
    
    .employee-header-cell {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #ccc;
      padding: 4px;
      
      .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 8px;
      }
      
      .employee-name {
        font-weight: 500;
      }
    }
  }
  
  .grid-body {
    display: flex;
    position: relative;
    height: 1020px;
    background: transparent;
    
    .horizontal-lines {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      pointer-events: none;
      
      .horizontal-line {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #ccc;
        opacity: 0.3;
      }
    }
    
    .time-column {
      width: 109px;
      position: relative;
      z-index: 2;
      height: 100%;
      border-right: 1px solid #ccc;

      .time-cell {
        position: absolute; 
        left: 0;
        right: 0;
        margin-top: -28px; 
        text-align: center;
        font-weight: 600;
        
        .time-cell.header {
          font-weight: bold;
        }
      }
    }
    
    .employee-columns {
      flex: 1;
      display: flex;
      position: relative;
      z-index: 2;
      
      .employee-column {
        flex: 1;
        position: relative;
        border-left: 1px solid rgba(204, 204, 204, 0.25);
        cursor: pointer;
      }
      .employee-column.not-working {
        background-color: #333;
        color: #fff;         
        opacity: 0.8; 
        cursor: not-allowed;
      }
    }
  }
}

.appointment-block {
  position: absolute;
  left: 4px;
  right: 4px;
  color: #fff;
  padding: 4px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #8c0055, #b3006e);
  box-shadow: 0px -20px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  cursor: move;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 3;
  transition: transform 0.1s ease;
}

.appointment-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

.appointment-info .service {
  font-size: 1.2em;       
  font-weight: bold;      
  margin-bottom: 4px;     
}

.appointment-info .time {
  font-size: 0.9em;       
  margin-bottom: 4px;     
}

.appointment-info .date {
  font-size: 0.9em;       
}

.resize-handle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  cursor: ns-resize;
}

.custom-appointment-dialog .mat-dialog-container {
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
}

.custom-backdrop {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}