<div class="dialog-container">
  <h2 mat-dialog-title>Edit User</h2>
<div mat-dialog-content style="padding: 20px;">

  <!-- Role Name Input -->
  <mat-form-field appearance="outline" style="width: 100%"  class="mat-form-field-css">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="userForm.controls['name']" required>
    <mat-error *ngIf="userForm.controls['name'].hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <!-- Available Scopes Multi-Select -->
  <mat-form-field style="width: 100%" class="mat-form-field-css">
    <mat-label>Available Roles</mat-label>
    <mat-select [formControl]="userForm.controls['role']" required>
      <mat-option *ngFor="let role of allRoles" [value]="role.name">
        {{ role.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="userForm.controls['role'].hasError('required')">Role is required</mat-error>
  </mat-form-field>

</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" class="mat-dialog-buttons">
  <button mat-raised-button color="primary" (click)="updateUser()" [disabled]="userForm.invalid">Save</button>
  <button mat-raised-button (click)="closeDialog()">Cancel</button>
</div>

</div>
