<div class="main-container" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
  <div fxFlex="80" class="services-table">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon>miscellaneous_services</mat-icon> Services
        </mat-card-title>
        <mat-card-subtitle>
          Manage and view all your services here.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="table-card">
        <div class="table-wrapper">
          <div *ngIf="dataSourceServices.data.length; else noServices">
            <table mat-table #servicesSort="matSort" [dataSource]="dataSourceServices" matSort>

              <!-- Name -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let service" style="font-weight: bold;">{{ service.name }}</td>
              </ng-container>

              <!-- Price -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                <td mat-cell *matCellDef="let service" style="font-weight: bold;">{{ service.price }}</td>
              </ng-container>

              <!-- Duration Minutes -->
              <ng-container matColumnDef="durationMinutes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration Minutes</th>
                <td mat-cell *matCellDef="let service" style="font-weight: bold;">{{ service.durationMinutes }}</td>
              </ng-container>

              <!-- Active -->
              <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
                <td mat-cell *matCellDef="let service">
                    <mat-chip *ngIf="service.isActive" style="background-color: rgba(172, 255, 47, 0.722);">Active</mat-chip>
                    <mat-chip *ngIf="!service.isActive" style="background-color: rgba(255, 0, 0, 0.722);">Inactive</mat-chip>
                </td>
              </ng-container>


              <!-- Actions -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                  <div fxLayout="row" fxLayoutAlign="end center">
                    Actions
                    <button mat-icon-button (click)="addOrEditService(); $event.stopPropagation()"
                      style="margin-left: 8px;">
                      <mat-icon style="color: greenyellow;">add</mat-icon>
                    </button>
                  </div>
                </th>
                <td mat-cell *matCellDef="let service" (click)="$event.stopPropagation()">
                  <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-icon-button (click)="addOrEditService(service); $event.stopPropagation()"
                      style="margin: 0 4px; color: orange;">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteService(service); $event.stopPropagation()"
                      style="margin: 0 4px; color: red;">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>


              <!-- Header & Row Declarations -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsServices" class="custom-header-row"></tr>
              <tr mat-row *matRowDef="let service; columns: displayedColumnsServices" class="custom-row"
                (click)="addOrEditService(service)"></tr>
            </table>


          </div>
          <mat-paginator [pageSizeOptions]="[10,25, 50]" showFirstLastButtons class="bottom-paginator"></mat-paginator>
        </div>

        <ng-template #noServices>
          <p>No services found.</p>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20" class="filter-column">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <mat-icon>filter_list</mat-icon> Filters
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
       <mat-card-content fxLayout="column" style="margin-top: 20px">
        <mat-form-field appearance="outline">
          <mat-label>Search Services</mat-label>
          <input matInput [(ngModel)]="searchQuery" (ngModelChange)="applyFilter()" placeholder="Name…" />
        </mat-form-field>

        <button mat-flat-button color="accent" (click)="clearFilters()">Clear</button>
      </mat-card-content>
    </mat-card>
  </div>

</div>