.nav-column>mat-card {
    box-shadow: black 5px 5px 5px;
    background-color: #303030;
    margin-right: 20px;
    height: 100%;

    mat-card-title {
        text-align: start;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .navigation-button {
        margin: 10px;

    }
}

.clients-details-column {
    box-shadow: black 5px 5px 5px;
    background-color: #303030;
    margin-left: 20px;

    border-radius: 25px;



    .title-container {
        padding: 25px;

        .title {
            display: flex;
            align-items: center;
            gap: 8px;
            background-color: #003ea8;
            padding: 20px;
            border-radius: 25px;
            font-weight: bold;
        }
    }
}