<mat-toolbar color="primary" class="topbar">

  <div class="menu-content">
    <img src="/flowzen-logo.png" alt="flowzen" width="50">
    <span class="app-title">Flowzen</span>

    
    <button *ngIf="authService.isModuleEnabled('scope_home:access')" mat-icon-button matTooltip="Home" matTooltipPosition="below"
      routerLink="/home" routerLinkActive="active" class="nav-btn">
      <mat-icon>home</mat-icon>
    </button>

    <button *ngIf="authService.isModuleEnabled('scope_appoitments:access')" mat-icon-button matTooltip="Appointments"
      matTooltipPosition="below" routerLink="/appoitments" routerLinkActive="active" class="nav-btn">
      <mat-icon>event</mat-icon>
    </button>

    <button *ngIf="authService.isModuleEnabled('scope_working_shifts:access')" mat-icon-button matTooltip="Working Shifts" matTooltipPosition="below" routerLink="/working-shifts"
      routerLinkActive="active" class="nav-btn">
      <mat-icon>calendar_month</mat-icon>
    </button>

    <button *ngIf="authService.isModuleEnabled('scope_clients:access')" mat-icon-button matTooltip="Clients"
      matTooltipPosition="below" routerLink="/clients" routerLinkActive="active" class="nav-btn">
      <mat-icon>sentiment_very_satisfied</mat-icon>
    </button>

    <button *ngIf="authService.isModuleEnabled('scope_employees:access')" mat-icon-button matTooltip="Employees"
      matTooltipPosition="below" routerLink="/employees" routerLinkActive="active" class="nav-btn">
      <mat-icon>supervisor_account</mat-icon>
    </button>

    <button *ngIf="authService.isModuleEnabled('scope_user_administration:access')" mat-icon-button matTooltip="User Administration"
      matTooltipPosition="below" routerLink="/user-administration" routerLinkActive="active" class="nav-btn">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>

    <button *ngIf="authService.isModuleEnabled('scope_services:access')" mat-icon-button matTooltip="Services"
      matTooltipPosition="below" routerLink="/services" routerLinkActive="active" class="nav-btn">
      <mat-icon>content_cut</mat-icon>
    </button>

    <button *ngIf="authService.isModuleEnabled('scope_articles:access')" mat-icon-button matTooltip="Articles"
      matTooltipPosition="below" routerLink="/articles" routerLinkActive="active" class="nav-btn">
      <mat-icon>article</mat-icon>
    </button>

    <button *ngIf="authService.isModuleEnabled('scope_suppliers:access')" mat-icon-button matTooltip="Suppliers" matTooltipPosition="below"
    routerLink="/suppliers" routerLinkActive="active" class="nav-btn">
      <mat-icon>local_shipping</mat-icon>
    </button>

    <button *ngIf="authService.isModuleEnabled('scope_settings:access')" mat-icon-button matTooltip="Settings"
      matTooltipPosition="below" routerLink="/settings" routerLinkActive="active" class="nav-btn">
      <mat-icon>settings</mat-icon>
    </button>

    <!-- POS Dropdown Menu -->
    <button *ngIf="authService.isModuleEnabled('scope_pos:sale')" mat-button [matMenuTriggerFor]="posMenu" class="nav-btn text-btn">
      POS
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #posMenu="matMenu">
      <button mat-menu-item routerLink="/pos/sales" routerLinkActive="active">
        <mat-icon>point_of_sale</mat-icon>
        <span>Prodaja</span>
      </button>
      <button *ngIf="authService.isModuleEnabled('scope_pos:cash_management')" mat-menu-item routerLink="/pos/cash-management" routerLinkActive="active">
        <mat-icon>account_balance</mat-icon>
        <span>Cash Management</span>
      </button>
      <button *ngIf="authService.isModuleEnabled('scope_pos:report')" mat-menu-item routerLink="/pos/reports" routerLinkActive="active">
        <mat-icon>assessment</mat-icon>
        <span>Izveštaji</span>
      </button>
      <button *ngIf="authService.isModuleEnabled('scope_pos:cash_reports')" mat-menu-item routerLink="/pos/cash-reports" routerLinkActive="active">
        <mat-icon>assessment</mat-icon>
        <span>Cash Izveštaji</span>
      </button>
      <button *ngIf="authService.isModuleEnabled('scope_pos:cash_analytics')" mat-menu-item routerLink="/pos/cash-analytics" routerLinkActive="active">
        <mat-icon>analytics</mat-icon>
        <span>Cash Analitika</span>
      </button>
      <button *ngIf="authService.isModuleEnabled('scope_pos:settings')" mat-menu-item routerLink="/pos/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>POS Podešavanja</span>
      </button>
    </mat-menu>




    <!-- Dropdown Menu A trigger -->
    <button mat-button [matMenuTriggerFor]="menuA" class="nav-btn text-btn">
      Menu A
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menuA="matMenu">
      <button mat-menu-item>Placeholder A1</button>
      <button mat-menu-item>Placeholder A2</button>
      <button mat-menu-item>Placeholder A3</button>
    </mat-menu>

    <!-- Dropdown Menu B trigger -->
    <button mat-button [matMenuTriggerFor]="menuB" class="nav-btn text-btn">
      Menu B
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menuB="matMenu">
      <button mat-menu-item>Placeholder B1</button>
      <button mat-menu-item>Placeholder B2</button>
    </mat-menu>
    <!-- Dropdown Menu C trigger -->
    <button mat-button [matMenuTriggerFor]="menuB" class="nav-btn text-btn">
      Menu C
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menuB="matMenu">
      <button mat-menu-item>Placeholder C1</button>
      <button mat-menu-item>Placeholder C2</button>
    </mat-menu>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" class="toolbar-right">
    <span>{{ currentUser?.username }}</span>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-raised-button style="background-color: red; color: white; margin-left: 10px;" class="logout-btn"
      (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>Logout</button>
  </div>

</mat-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>