<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="example-sidenav">
    <div class="menu-content" fxLayout="column" fxLayoutAlign="space-between none">
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active" class="menu-item">
          <div>
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </div>
        </a>
        <a mat-list-item routerLink="/appoitments" routerLinkActive="active" class="menu-item">
          <div>
            <mat-icon>event</mat-icon>
            <span>Appointments</span>
          </div>
        </a>
        <a mat-list-item routerLink="/clients" routerLinkActive="active" class="menu-item">
          <div>
            <mat-icon>people</mat-icon>
            <span>Clients</span>
          </div>
        </a>
        <a mat-list-item routerLink="/employees" routerLinkActive="active" class="menu-item">
          <div>
            <mat-icon>supervisor_account</mat-icon>
            <span>Employees</span>
          </div>

        </a>
        <a mat-list-item routerLink="/user-administration" routerLinkActive="active" class="menu-item">
          <div>
            <mat-icon>admin_panel_settings</mat-icon>
            <span>User Administration</span>
          </div>
        </a>
        <a mat-list-item routerLink="/services" routerLinkActive="active" class="menu-item">
          <div>
            <mat-icon>miscellaneous_services</mat-icon>
            <span>Services</span>
          </div>
        </a>

        <!-- Additional menu items -->
      </mat-nav-list>
      <div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <h2>{{ currentUser?.username }}</h2>
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="logout-container">
          <button mat-raised-button class="logout-button" style="background-color: red; color: white;"
            (click)="logout()">Logout</button>
        </div>

      </div>
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Global Fixed Header -->
    <mat-toolbar color="primary" class="fixed-header">
      <button mat-icon-button (click)="toggleMenu()" class="toggle-button">
        <mat-icon>{{ opened ? 'close' : 'menu' }}</mat-icon>
      </button>
      <span class="header-title">
        <mat-icon>{{ currentIcon }}</mat-icon>
        {{ currentTitle }}
      </span>
    </mat-toolbar>

   
      <router-outlet></router-outlet> <!-- Routed content goes here -->

  </mat-sidenav-content>
</mat-sidenav-container>