<div class="dialog-container" fxLayout="column">
  <h3 mat-dialog-title>Confirm Delete</h3>
  <div mat-dialog-content>
    <p style="font-size: 1rem;">{{data.message}}</p>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button (click)="confirmDelete()" style="background-color: greenyellow; color: black;">Yes</button>
    <button mat-raised-button (click)="cancelDelete()" style="background-color: red; color: white;">No</button>
  </div>

</div>