.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #2b2b2b;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .5);
    padding: 50px;
    border-radius: 25px;


    
    .error-message {
      color: red;
      margin-top: 25px;
    }

  
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      width: 90%;
      

      mat-label {
        color: white;
      }

      
  
      label {
        margin-bottom: 8px;
        font-weight: bold;
        color: #311B92; 
      }
  
      input {
        padding: 10px 2px;
        font-size: 16px;
        border: 1px solid #D1C4E9;
        outline: none;
        transition: border-color 0.3s;
  
        &:focus {
          border-color: #7E57C2;
        }
      }
    }
  
    .login-button {
      padding: 10px 20px;
      background-color: #7E57C2; 
      color: #FFFFFF;
      border: none;
      border-radius: 25px;
      padding: 0px 48px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s ease-in-out;
  
      &:hover {
        background-color: #5E35B1;
        transform: scale(1.05);
      }
    }
  }

  .main-container {
    height: 100vh;
  }

  
  