<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
  <p-card class="login-card">
    <ng-template pTemplate="header">
      <div class="login-header" fxLayout="row" fxLayoutAlign="space-between center">
        <img src="flowzen-logo.png" alt="flowzen" class="logo">
        <h2 class="brand-title">
          <span class="letter" *ngFor="let letter of 'Flowzen'.split(''); let i = index">{{ letter === ' ' ? '\u00A0' : letter }}</span>
        </h2>
      </div>
    </ng-template>
    
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username" class="form-label">Email</label>
        <div class="form-input">
          <input
            pInputText
            id="username"
            type="email"
            placeholder="Unesite vaš email"
            formControlName="username"
            [class.ng-invalid]="isFieldInvalid('username')"
            [class.ng-dirty]="loginForm.get('username')?.dirty"
            [class.ng-touched]="loginForm.get('username')?.touched"
          />
        </div>
      </div>
      
      <div class="form-group">
        <label for="password" class="form-label">Lozinka</label>
        <div class="form-input">
          <p-password
            id="password"
            placeholder="Unesite vašu lozinku"
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
            [class.ng-invalid]="isFieldInvalid('password')"
            [class.ng-dirty]="loginForm.get('password')?.dirty"
            [class.ng-touched]="loginForm.get('password')?.touched"
          ></p-password>
        </div>
      </div>
      
      <p-button
        type="submit"
        [label]="isLoading ? 'Prijava u toku...' : 'PRIJAVA'"
        [disabled]="loginForm.invalid || isLoading"
        class="login-button"
        severity="primary"
        size="large"
        styleClass="p-button-primary"
      ></p-button>
    </form>
    
    <div class="client-login-link">
      <p>Klijent? <a routerLink="/client-login">Prijavite se ovde</a></p>
    </div>
    
  </p-card>
</div>
<!-- Toast for notifications - moved outside to avoid positioning issues -->
<p-toast position="top-right" [life]="5000"></p-toast>

