<div class="outer-dialog-container">
  <div [@dialogPop] class="dialog-container" [ngClass]="{ 'preview-mode': isPreviewMode }">
    <h2 class="dialog-title">
      <span *ngIf="!isPreviewMode">{{ data.service ? 'Azuriraj uslugu' : 'Nova usluga' }}</span>
      <span *ngIf="isPreviewMode">Pregled termina - {{ data.status }}</span>
    </h2>
    
    <!-- Preview mode header -->
    <div *ngIf="isPreviewMode" class="preview-header">
      <div class="status-badge" [ngClass]="data.status?.toLowerCase()">
        {{ data.status }}
      </div>
      <div class="preview-info">
        <p><strong>Datum:</strong> {{ appointmentData?.date | date:'dd.MM.yyyy' }}</p>
        <p *ngIf="appointmentData?.sale"><strong>Broj računa:</strong> {{ appointmentData.sale?.number }}</p>
      </div>
    </div>
    
    <div class="dialog-content">
      <!-- Facility Selection -->
      <mat-form-field appearance="outline" class="dialog-field">
        <mat-label>Izaberi objekat</mat-label>
        <mat-select [(value)]="selectedFacility" [disabled]="isPreviewMode || data.facility">
          <mat-option *ngFor="let facility of data.facilities" [value]="facility._id">
            {{ facility.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="dialog-field">
        <mat-label>Izaberite Klijenta</mat-label>
        <mat-select [(value)]="selectedClient" [disabled]="isPreviewMode">
          <mat-option *ngFor="let client of data.clients" [value]="client._id">
            {{client.firstName}} {{client.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Dropdown za usluge -->
      <mat-form-field appearance="outline" class="dialog-field">
        <mat-label>Izaberi uslugu</mat-label>
        <mat-select [(value)]="selectedService" [disabled]="isPreviewMode">
          <mat-option *ngFor="let service of data.services" [value]="service._id">
            {{ service.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Početak termina -->
      <div class="section-label">Početak</div>
      <div class="time-picker">
        <mat-form-field appearance="outline" class="dialog-field time-field">
          <mat-label>Početak - Sati</mat-label>
          <mat-select [(value)]="selectedHour" [disabled]="isPreviewMode">
            <mat-option *ngFor="let hour of hours" [value]="hour">
              {{ hour }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="dialog-field time-field">
          <mat-label>Početak - Minuti</mat-label>
          <mat-select [(value)]="selectedMinute" [disabled]="isPreviewMode">
            <mat-option *ngFor="let min of minutes" [value]="min">
              {{ min < 10 ? '0' + min : min }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Kraj termina -->
      <div class="section-label">Kraj</div>
      <div class="time-picker">
        <mat-form-field appearance="outline" class="dialog-field time-field">
          <mat-label>Kraj - Sati</mat-label>
          <mat-select [(value)]="endHour" [disabled]="isPreviewMode">
            <mat-option *ngFor="let hour of hours" [value]="hour">
              {{ hour }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="dialog-field time-field">
          <mat-label>Kraj - Minuti</mat-label>
          <mat-select [(value)]="endMinute" [disabled]="isPreviewMode">
            <mat-option *ngFor="let min of minutes" [value]="min">
              {{ min < 10 ? '0' + min : min }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="dialog-actions">
      <!-- Normal mode actions -->
      <ng-container *ngIf="!isPreviewMode">
        <button mat-button (click)="onCancel()">Odustani</button>
        <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!selectedFacility || !selectedService || !selectedClient">Sačuvaj</button>
        <button mat-raised-button color="warn" *ngIf="data.service" (click)="onDelete()">Obriši</button>
      </ng-container>
      
      <!-- Preview mode actions -->
      <ng-container *ngIf="isPreviewMode">
        <button mat-button (click)="onCancel()">Zatvori</button>
      </ng-container>
    </div>
  </div>
</div>
