@use '@angular/material' as mat;
@import "app/themes/flowzentheme.css";


.main-container{
    color: white;
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: calc(100vh - 20px);
    height: 100vh;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
    padding: 0px;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    padding: 0px;
    margin: 0;
}




