@use 'styles/custom-theme.scss';


.main-container{
    color: white;
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: calc(100vh - 20px);
    height: 100vh;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
    padding: 0px;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    padding: 0px;
    margin: 0;
}


.mat-table-container {
    width: 90%;
    border-radius: 25px;
    border: 5px solid #ae036b;
    padding: 10px;
    background-color: #2c2c2c !important;

    *{
        background-color: #2c2c2c !important;
        color: white;
    }

    
}
