<h2 mat-dialog-title>Izmeni napomenu</h2>
<form [formGroup]="form" (ngSubmit)="save()">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Napomena</mat-label>
    <input matInput formControlName="note">
  </mat-form-field>
  <div style="margin-top: 16px; display: flex; justify-content: flex-end;">
    <button mat-button type="button" (click)="dialogRef.close()">Otkaži</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Sačuvaj</button>
  </div>
</form>
